<div id="header" style="position:fixed;background-color:#f7f7f7;z-index: 99999; width:100%;">
	<nav>
		<div class="nav__header">
			<div class="nav__logo">
				<a href="{{ path('app_home') }}">AutoRent</a>
			</div>
			<div class="nav__menu__btn" id="menu-btn">
				<i class="ri-menu-line"></i>
			</div>
		</div>
		<ul class="nav__links" id="nav-links">
			{# <li class="nav__links__btn">
				<button class="btn">
					<i class="ri-login-box-line"></i>
					Identifiez-vous</button>
			</li> #}
			<li class="nav__links__btn">
				<button class="btn"><i class="ri-question-line"></i> Aide</button>
			</li>
			<li class="nav__links__btn">
				<button class="btn"><i class="ri-contacts-line"></i> Contacts</button>
			</li>
		</ul>
	<div class="nav__btns">
    {% if app.user %}
        <a style="margin-right:20px;" class="" href="{{ path('app_login') }}">
            <i class="ri-user-line"></i>
            Bonjour,  {{ app.user.name }} {{ app.user.firstname }}
        </a>
   
    {% endif %}

    <a class="" href="">
        <i class="ri-question-line"></i>
        Aide
    </a>

    {% if app.user %}
        <a style="margin-left:20px;" class="" href="{{ path('app_logout') }}">
            <i class="ri-logout-box-r-line"></i>
        </a>
    {% endif %}
</div>

	</nav>
</div>

<style>
	.nav__btns i {
		margin-right: 3px;
		font-size: 1.3rem;
		font-weight: bold;
	}
	.nav__btns a {
		color: #000;
		font-size: 1rem;
		font-weight: bold;
		padding-bottom: 5px;
	}
	.nav__btns a:hover {
		font-size: 1rem;
		font-weight: bold;
		border-bottom: 2px solid #000;
	}
</style>

