<div id="header" style="position:fixed;background-color:#f7f7f7;z-index: 99999; width:100%;">
	<nav>
		<div class="nav__header">
			<div class="nav__logo">
				<a href="{{ path('app_home') }}">
					<img src="{{ asset('assets/images/logoautorent.png') }}" style="width: 40%;" alt="logo"/>
				</a>
			</div>
			<div class="nav__menu__btn" id="menu-btn">
				<i class="ri-menu-line"></i>
			</div>
		</div>

		<ul class="nav__links" id="nav-links">
			<li class="nav__links__btn">
				<a href="{{ path('app_help') }}" class="btn">
					<i class="ri-question-line"></i>
					Aide
				</a>

			</li>
			<li class="nav__links__btn">
				{% if app.user %}
					<a style="margin-right:20px;" class="" href="{{ path('app_login') }}">
						<i class="ri-user-line"></i>
						Bonjour,
						{{ app.user.name }}
						{{ app.user.firstname }}
					</a>

				{% endif %}

				{% if app.user %}
					<a style="margin-left:20px;" class="" href="{{ path('app_logout') }}">
						<i class="ri-logout-box-r-line"></i>
					</a>
				{% endif %}
			</li>
		</ul>

		<div class="nav__btns">
			{% if app.user %}
				<a style="margin-right:20px;" class="" href="{{ path('app_login') }}">
					<i class="ri-user-line"></i>
					Bonjour,
					{{ app.user.name }}
					{{ app.user.firstname }}
				</a>

			{% endif %}

			<a href="{{ path('app_help') }}">
				<i class="ri-question-line"></i>
				Aide
			</a>

			{% if app.user %}
				<a style="margin-left:20px;" class="" href="{{ path('app_logout') }}">
					<i class="ri-logout-box-r-line"></i>
				</a>
			{% endif %}
		</div>

	</nav>
</div>
