{% extends 'base.html.twig' %}

{% block title %}Connexion compte personnel{% endblock %}

{% block body %}

    {% if target_path == path('app_myaccount') %}
        {% include '_partials/header.html.twig' %}
    {% elseif target_path == path('app_pack') %}
        {% include '_partials/header_steps.html.twig' %}
    {% endif %}

    <div class="login-container">
        <div class="login-form">
            <h1>Connexion compte personnel</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if target_path == path('app_pack') and car is not null %}
                {% set discountedTotal = car.dayprice * 0.91 * app.session.get('days') %}
                {% set TotalPerDay = app.session.get('days') * car.dayprice %}
                {% set total = total is defined ? total : (discountedTotal != 0 ? discountedTotal : TotalPerDay) %}
            {% endif %}

            <form action="{{ path('app_login') }}" method="POST" id="login-form">
                <label for="username">Email</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>

                <label for="password">Password</label>
                <input type="password" id="password" name="_password" required>

                {% if target_path == path('app_pack') %}
                    <input type="hidden" name="_target_path" value="{{ path('app_pack', { id: car.id, total: total | number_format(2, '.', ''), userId: user_id }) }}">
                {% else %}
                    <input type="hidden" name="_target_path" value="{{ target_path }}">
                {% endif %}
                
                <button type="submit" class="btn-login">Se connecter</button> 
            </form>

            {% if target_path == path('app_pack') and car is not null %}
                <a style="color: #fe5b3e;" href="{{ path('app_register', { id: car.id, total: total | number_format(2, '.', '') }) }}">
                    <div class="create-account">
                        Créez votre compte
                    </div>
                </a>
            {% endif %}

            {% if target_path == path('app_pack') and car is not null %}
                <div class="total-price">
                    <h3>Total: {{ total | number_format(2, '.', '') }} €</h3>
                    <h3>Car id: {{ car.id }} </h3>
                </div>
            {% endif %}
        </div>
    </div>

    <style>
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .login-form {
            background: #fbfbfb;
            padding: 40px;
            width: 40%;
            border: 2px solid #f7f7f7;
            border-radius: 8px;
            text-align: start;
            margin: 200px 0 50px 0;
        }

        .login-form h1 {
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            height: 48px;
            padding: 10px;
            margin: 10px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 8px;
        }

        button {
            background-color: #fe5b3e;
            color: white;
            padding: 14px 20px;
            margin: 10px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 8px;
            font-size: 1.1rem;
        }

        button:hover {
            opacity: 0.9;
            font-weight: bold;
        }

        .forgot-password {
            color: #fe5b3e;
            text-decoration: none;
            display: block;
            margin: 10px 0;
        }

        .create-account {
            margin-top: 20px;
            width: 100%;
            background-color: white;
            border: 1px solid #fe5b3e;
            font-size: 1.1rem;
            border-radius: 8px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .create-account:hover {
            border: 2px solid #fe5b3e;
            font-weight: bold;
        }

        .btn-login {
            margin-top: 20px;
            width: 100%;
            background-color: #fe5b3e;
            font-size: 1.1rem;
            border-radius: 8px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .btn-login:hover {
            border: 2px solid #fe5b3e;
            font-weight: bold;
            opacity: 0.9;
        }
    </style>

    {% include '_partials/footer.html.twig' %}

{% endblock %}
