{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
{% endblock %}

{% block body %}

{% include '_partials/header_steps.html.twig' %}

<div class="register-container">
    <div class="register-form">
        <h1>Créer un compte</h1>
        
        {{ form_start(registrationForm, {'action': path('app_register', {'id': car.id, 'total': total})}) }}
        {{ form_row(registrationForm.firstname, {'attr': {'class': 'register-input'}}) }}
        {{ form_row(registrationForm.name, {'attr': {'class': 'register-input'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'register-input'}}) }}
        {{ form_row(registrationForm.phonenumber, {'attr': {'class': 'register-input'}}) }}
        {{ form_row(registrationForm.address, {'attr': {'class': 'register-input'}}) }}
        {{ form_row(registrationForm.password, {'attr': {'class': 'register-input'}}) }}

        
        <button type="submit" class="create-account">S'enregistrer</button>
        
        {{ form_end(registrationForm) }}
    </div>
</div>

<!-- Modal HTML -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span> <!-- Bouton de fermeture -->
        <div style="display:flex; gap:10px; justify-content:center; align-items: center;">
            <p>Votre compte a bien été créé.</p>
            <i style="color: #fe5b3e; font-size: 1.5rem;" class="ri-checkbox-circle-fill"></i>
        </div>
        <div style="display:flex; gap:10px; justify-content:center; align-items: center;">
            <a href="{{ path('app_login', {'_target_path': path('app_pack'),'id': car.id, 'total': total}) }}" id="loginRedirectButton" class="modal-button">Se connecter</a>
            <button id="cancelButton" class="modal-button cancel">Retour</button>
        </div>
    </div>
</div>

{% include '_partials/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Get the modal
            var modal = document.getElementById("confirmationModal");

            // Get the cancel button
            var cancelButton = document.getElementById("cancelButton");

            // When the user clicks the cancel button, close the modal
            cancelButton.onclick = function() {
                modal.style.display = "none";
            }

            // Check if there's a success flash message and show the modal
            {% for message in app.flashes('success') %}
                modal.style.display = "block";
            {% endfor %}
        });
    </script>
{% endblock %}

