{% extends 'base.html.twig' %}

{% block title %}Détails de la location{% endblock %}

{% block body %}
    {% include '_partials/header_connected.html.twig' %}

    <div class="container">
        <header>
            <div class="navbar">
                <h1>AutoRent</h1>
                <div class="user-profile">
                    <i style="margin-right: 15px;" class="fa-solid fa-user"></i>
                    <span>{{ app.user.username }}</span>
                </div>
            </div>
            <nav>
                <ul>
                           <li><a href="{{ path('app_myaccount') }}">RÉSERVATIONS</a></li>
                    <li><a href="{{ path('app_account') }}">COMPTE</a></li>
                     <li><a href="{{ path('account_password') }}">MOT DE PASSE</a></li>
                </ul>
            </nav>
        </header>
        <main style="width: 80%; margin: 0 auto;">

		<h1 style="margin-top:60px;">Réservation n° : {{ location.rentalNumber }}</h1>
        <h2 style="margin-top:20px;"> {{ location.user.name }} {{ location.user.firstname }}</h2>
        <p> {{ location.user.address }}</p>
        <p> {{ location.user.email }} </p>
        <p> {{ location.user.phonenumber }}</p>

  


		<div class="reservation-form">
			<section class="summary">
	
				 <div style="margin-top:25px;display: flex; justify-content: space-between; padding-bottom: 10px; border-bottom: 1px solid #dfdfdf;">
					<h3>Statut</h3>
					<h3 style="background-color: #FFCC00; padding:8px; border-radius: 8px; color:white;" >{{ status }}</h3>
				</div> 

				<div style="display: flex; justify-content:flex-start; align-items: center; gap: 25px; ">
                    <img style="width: 25%;" src="{{ asset('images/' ~ location.car.image) }}" alt="{{ location.car.brand }} {{ location.car.model }}">
   
					<h2>   {{ location.car.brand }} {{ location.car.model }}
						<br>
					</h2>

				</div>


			<ul style="list-style: none;padding: 0;margin-bottom: 1rem;">
			
					<li style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 1rem;}" >
					
						<div class="cars__details">

							<div class="cars__details1">
								<p>
									<i class="ri-calendar-line"></i>
									{{ location.car.year }}</p>
								<p>
									<i class="ri-palette-line"></i>
									{{ location.car.color }}</p>
								<p>
									<i class="ri-car-line"></i>
									{{ location.car.registration }}</p>

								<p style="display:flex; justify-content: start; align-items:center; ">
									<img src="{{ asset('images/car.png') }}" alt="moteur" style="width: 0.9em; height: 0.9em; margin-right: 10px;">
									{{ location.car.nbofcardoors }} portes
								</p>
								<p>
									<i class="ri-user-line"></i>
									{{ location.car.nbofpersons }} personnes</p>
							</div>
							<div class="cars__details1">
								 {% if location.car.isAirconditionner %}
									<p>
										<i class="fa-solid fa-snowflake"></i>
										Climatisation</p>
								{% endif %} 


								<p style="display:flex; justify-content: start; align-items:center; "><img src="{{ asset('images/gear.png') }}" alt="moteur" style="width: 1em; height: 1em; margin-right: 10px;
										">
									  {{ location.car.gearbox }}</p>

								<p style="display:flex; justify-content: start; align-items:center; "><img src="{{ asset('images/engine.png') }}" alt="moteur" style="width: 1.3em; height: 1.3em; margin-right: 10px;
										">
									{{ location.car.horsepower }} CV</p>

								<p>
									<i class="ri-cloud-line"></i>
									CO2:
									{{ location.car.co2emissions }}
									g/km</p>

								{% if location.car.isElectric %}
									<p class="isElec">
										<i style="color:#fff;" class="ri-flashlight-line"></i>
										Électrique</p>
								{% endif %}

							</div>

						</div>

					
					</li>

	
			</ul>

				<div style="margin: 25px 0; display: flex; justify-content: space-between; padding-bottom: 10px; border-bottom: 1px solid #dfdfdf;">
					<h2>Tarif de base pour {{ location.numberOfDays }} jours</h2>
					<h2>{{ location.totalamount }} €</h2>
				</div>

				<section style="margin: 20px 0;">
					<div style="width:100%;  background: #f7f7f7;padding: 20px 10px; border-radius:10px 10px 0 0;border-bottom: 1px solid #dfdfdf;">
						<p style="font-weight:bold;">Départ
						</p>
						<p style="font-weight:bold;font-size: 1.2rem;">{{ location.pickupLocation.name }}
						</p>
						<p>{{ location.startdate|date('d/m/Y') }} | {{ location.starttime|date('H:i') }}
						</p>

					</div>

					<div style="width:100%;  background: #f7f7f7;padding: 20px 10px; border-radius:0 0 10px 10px;">
						<p style="font-weight:bold;">Retour
						</p>
						<p style="font-weight:bold;font-size: 1.2rem;">{{ location.dropOffLocation.name }}
						</p>
						<p>{{ location.enddate|date('d/m/Y') }} | {{ location.endtime|date('H:i') }}
						</p>

					</div>


				</section>

				<div style=" margin: 25px 0; display: flex; justify-content: space-between; padding-bottom: 10px; border-bottom: 1px solid #dfdfdf;">
					<h2>Protections & Options</h2>
                    <h2>{{ location.packTotalPrice + location.optionsTotalPrice }} €</h2>

				</div>

				<h3 style="margin-top:20px;">{{ location.pack.name }}</h3>

				<div style="display: flex; justify-content: space-between; padding-bottom: 10px;">
					<p>Pour {{ location.numberOfDays }} jours</p>
					<p>{{ location.packTotalPrice }} €</p>
				</div>

                {% if location.options is not empty %}
                <h3 style="margin-top:20px;">Options</h3>
                    <ul>
                        {% for option in location.options %}
                        <li style="margin:10px 0px;">{{ option.name }} | {{ option.price }} €</li>
                        {% endfor %}
                    </ul>
            
				{# <h3 style="margin-top:20px;">Assistance Plus</h3> #}

				<div style="display: flex; justify-content: space-between; padding-bottom: 10px;">
					<p>Pour {{ location.numberOfDays }} jours</p>
					<p>{{ location.optionsTotalPrice }} €</p>
				</div>
                {% else %}
                    
                {% endif %}
				<div style=" margin: 20px 0; display: flex; justify-content: space-between; padding-bottom: 10px; border-top: 1px solid #dfdfdf;">
					<h2 style="margin-top: 20px;">Total:</h2>
					<h2 style="margin-top: 20px;">{{ location.totalamount + location.packTotalPrice + location.optionsTotalPrice }} €</h2>
				</div>


			</section>

		</div>

	</div>



                
                    
            
              
          

        </main>
        {% include '_partials/footer.html.twig' %}
    </div>

    <style>
        .container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header, main {
            flex: 1;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #fff;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            width: 90%;
            margin: 0 auto;
        }

        .logo {
            height: 50px;
        }

        .user-profile {
            display: flex;
            align-items: center;
        }

        .user-icon {
            height: 30px;
            margin-right: 10px;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: start;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
            background-color: #fff;
            width: 100%;
            margin: 0 auto;
            gap: 30px;
        }

        nav a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            padding: 10px 0;
        }

        nav a:hover {
            border-bottom: 3px solid #ff6600;
        }

        main {
            padding: 20px;
        }

        .reservation-details {
            text-align: start;
        }

        .reservation-details h1 {
            font-size: 30px;
            margin: 30px auto;
        }

        .details {
            margin-top: 20px;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
        }

        .details p {
            font-size: 16px;
            margin: 10px 0;
        }

        ul {
            padding-left: 20px;

        }

   
    </style>
{% endblock %}
