{% extends 'base.html.twig' %}

{% block title %}Confirmation de la réservation
{% endblock %}

{% block body %}
	{% include '_partials/header_connected.html.twig' %}

	<div class="container">
		<header>
			<div class="navbar">
				<h1>AutoRent</h1>
				<div class="user-profile">
					<i style="margin-right: 15px;" class="fa-solid fa-user"></i>
					<span>{{ app.user.username }}</span>
				</div>
			</div>
			<nav>
				<ul>
					<li><ahref="{{ path('app_myaccount') }}">RÉSERVATIONS</a></li>
					<li><ahref="{{ path('app_account') }}">COMPTE</a></li>
					<li><ahref="{{ path('account_password') }}">MOT DE PASSE</a></li>
				</ul>
			</nav>
		</header>
		<main style="width: 80%; margin: 0 auto;">
			<section class="reservations">
				<h1>Mes réservations</h1>
				<div class="add-reservation">
					<div class="reservation-grid">
						{% for location in locations %}
							<a href="{{ path('app_myaccount_details', { id: location.id }) }}" style="text-decoration: none; color: #000;">
								<div class="car_card">
									<img src="{{ asset('images/' ~ location.car.image) }}" alt="Car Image" class="box-icon">
									<div class="add-reservation-text">
										<b>N° location:
											{{ location.rentalNumber }}</b>
										<p>{{ location.car.brand }}
											<span>{{ location.car.model }}</span>
										</p>
						<p>Status:
    {% if location.statuses|length > 0 %}
        {% set lastStatus = location.statuses|last %}
        <span style="color: {{ lastStatus.color }}; font-weight: bold;">
            {% if lastStatus.name == 'Pending' %}
                En attente
            {% elseif lastStatus.name == 'Confirmed' %}
                Confirmée
            {% elseif lastStatus.name == 'Cancelled' %}
                Annulée
            {% elseif lastStatus.name == 'Active' %}
                Active
            {% elseif lastStatus.name == 'Completed' %}
                Terminée
            {% elseif lastStatus.name == 'Overdue' %}
                En retard
            {% else %}
                {{ lastStatus.name }}
                {# En cas de statut non prévu #}
            {% endif %}
        </span>
    {% else %}
        <span>Aucun statut</span>
    {% endif %}
</p>



									</div>
								</div>
							</a>
						{% else %}
							<p>Vous n'avez aucune réservation en cours.</p>
						{% endfor %}
					</div>
				</div>
			</section>
			<div style="display: flex; gap: 10px; justify-content: start; align-items: baseline;">
				<i style="font-size: 1.2rem; color:#fe5b3e;" class="ri-arrow-right-s-line"></i>
				<a href="{{ path('app_home') }}" class="new-reservation-link">Faire une nouvelle réservation</a>
			</div>
		</main>
		{% include '_partials/footer.html.twig' %}
	</div>

	<style>
		.container {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
		}

		header,
		main {
			flex: 1;
		}

		.car_card {
			padding: 10px;
			display: flex;
			justify-content: start;
			align-items: center;
			background-color: white;
			border: 1px solid #ddd;
			border-radius: 7px;
			transition: background-color 0.3s;
		}

		.car_card:hover {
			background-color: #f7f7f7;
		}

		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		header {
			background-color: #fff;
		}

		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 20px;
			width: 90%;
			margin: 0 auto;
		}

		.user-profile {
			display: flex;
			align-items: center;
		}

		nav ul {
			list-style: none;
			display: flex;
			justify-content: start;
			padding: 10px 0;
			border-bottom: 1px solid #ddd;
			background-color: #fff;
			width: 100%;
			margin: 0 auto;
			gap: 30px;
		}

		nav a {
			text-decoration: none;
			color: #000;
			font-weight: bold;
			padding: 10px 0;
		}

		nav a:hover {
			border-bottom: 3px solid #fe5b3e;
		}

		main {
			padding: 20px;
		}

		.reservations {
			text-align: start;
		}

		.reservations h1 {
			font-size: 30px;
			margin: 30px auto;
		}

		.add-reservation {
			margin-top: 20px;
			padding: 0 0 25px;
		}

		.reservation-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}

		.box-icon {
			border-radius: 7px;
			height: 70px;
			width: 70px;
			margin-right: 20px;
		}

		.add-reservation-text {
			text-align: left;
			line-height: 18px;
		}

		.add-reservation-text p {
			font-size: 16px;
			margin: 5px 0;
		}

		button {
			background-color: #fe5b3e;
			color: #fff;
			border: none;
			padding: 10px 20px;
			border-radius: 5px;
			cursor: pointer;
			font-size: 16px;
		}

		button:hover {
			opacity: 0.9;
		}

		.new-reservation-link {
			display: block;
			margin-top: 20px;
			font-size: 16px;
			text-decoration: none;
			color: #fe5b3e;
		}
	</style>
{% endblock %}

