{% extends 'base.html.twig' %}

{% block title %}Réservation confirmée{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/success.css') }}">{% endblock %}
{% block body %}
    
    {% include '_partials/header_connected.html.twig' %}

<div class="section__container" id="confirmation-message">
    <div class="confirmation-content">
        <div class="confirmation-icon">
            <i class="ri-check-line"></i>
        </div>
        <h1>Votre réservation a été confirmée</h1>

        <div>
    
            <p>Votre numéro de réservation est : {{ location.id }}</p>
            {# <p>Un email de confirmation a été envoyé à : {{ location.user.email }}</p> #}
            <p>Statut de la réservation : {{ status.name }}</p>
        </div>
        <h4>Merci pour votre réservation !</h4>
        <div style="margin-top: 20px;">
            <a href="{{ path('app_home') }}" class="return-home-link">Cliquez ici pour revenir à l'accueil</a>
        </div>
    </div>
</div>


{% include '_partials/footer.html.twig' %}

{% endblock %}
