{% extends 'base.html.twig' %}

{% block title %}Voitures Disponibles{% endblock %}


{% block body %}

    {% include '_partials/header_steps.html.twig' %}

    <div class="section__container" id="available-cars">
        {# CARS RECOMMENDED #}
        <h2 style="margin-top: 8rem;">Véhicules recommandés</h2>

        <div class="recommended-cars">
            <div class="carousel">
                <button class="carousel-prev">&#10094;</button>
                <div class="carousel-container">
                    {% for car in recommendedCars %}
                        {% set TotalPerDay = car.dayprice * days %}
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-header">
                                    <span>{{ car.brand }} {{ car.model }}</span>
                                   
                                </div>
                                <div class="card-body">
                                    <div class="card-body__left">
                                        <img src="{{ asset('assets/images/' ~ car.image) }}" alt="{{ car.brand }} {{ car.model }}">
                                    </div>
                                    <div class="card-body__right">
                                        <p>À PARTIR DE</p>
                                        <p class="price-text">{{ car.dayprice }} € / jour</p>
                                        <h4 style="color: #919191;margin-bottom: 1.5rem;">
                                            TOTAL <span style="color: #fe5c3c;">{{ TotalPerDay }} €</span>
                                            <p style="color:#c3c3c3;"><span style="font-weight: bold;color: #919191;"> {{ days }} jrs </span> de location</p>
                                        </h4>
                                        <a href="{{ path('app_cars_available_details', { id: car.id }) }}" class="select-btn">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-next">&#10095;</button>
            </div>
        </div>


        {# LISTE DES CARS DISPONIBLES #}
        <h1 style="margin-top:80px;">Choisissez votre véhicule</h1>

        {% if cars is empty %}
            <p>Aucune voiture disponible pour les dates sélectionnées.</p>
        {% else %}
            <p class="availability-text">{{ cars|length }} disponible(s)</p>

            <ul class="cars__list">
                {% for car in cars %}
                    {% set TotalPerDay = car.dayprice * days %}
                    <li class="cars__item">
                        <div class="cars__image">
                            <img src="{{ asset('assets/images/' ~ car.image) }}" alt="{{ car.brand }} {{ car.model }}">
                        </div>
                        <div class="cars__details">
                            <h1 style="margin-bottom: 25px;">{{ car.brand }} {{ car.model }}</h1>
                            <div class="cars__details1">
                                <p><i class="ri-calendar-line"></i> {{ car.year }}</p>
                                <p><i class="ri-palette-line"></i> {{ car.color }}</p>
                                <p><i class="ri-car-line"></i> {{ car.registration }}</p>
                                <p style="display:flex; justify-content: start; align-items:center;">
                                    <img src="{{ asset('assets/images/car.png') }}" alt="moteur" style="width: 0.9em; height: 0.9em; margin-right: 10px;">
                                    {{ car.nbofcardoors }} portes
                                </p>
                                <p><i class="ri-user-line"></i> {{ car.nbofpersons }} personnes</p>
                            </div>
                            <div class="cars__details1">
                                {% if car.airconditionnerStatus %}
                                    <p><i class="fa-solid fa-snowflake"></i> Climatisation</p>
                                {% endif %}
                                <p style="display:flex; justify-content: start; align-items:center;">
                                    <img src="{{ asset('assets/images/gear.png') }}" alt="moteur" style="width: 1em; height: 1em; margin-right: 10px;">
                                    {{ car.gearbox }}
                                </p>
                                <p style="display:flex; justify-content: start; align-items:center;">
                                    <img src="{{ asset('assets/images/engine.png') }}" alt="moteur" style="width: 1.3em; height: 1.3em; margin-right: 10px;">
                                    {{ car.horsepower }} CV
                                </p>
                                <p><i class="ri-cloud-line"></i> CO2: {{ car.co2emissions }} g/km</p>
                                {% if car.electricStatus %}
                                    <p class="isElec"><i style="color:#fff;" class="ri-flashlight-line"></i> Électrique</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="cars__price">
                            <p class="small-text">À PARTIR DE</p>
                            <p class="price-text">{{ car.dayprice }} € / jour</p>
                            <h4 style="color: #919191;">TOTAL <span style="color: #fe5c3c;">{{ TotalPerDay }} €</span></h4>
                            <p style="color:#c3c3c3; font-size:1rem;margin-bottom: 1.5rem;"> <span style="font-weight: bold;color: #919191;"> {{ days }} jrs </span> de location</p>
                            <a href="{{ path('app_cars_available_details', { id: car.id }) }}" class="select-btn">Sélectionner</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% include '_partials/footer.html.twig' %}

{% endblock %}
